# ignore everything
/*
/*/
# except these:
!/bin/
!/docs/
!/exe/
!/lib/
!/t/
!/releases/*
!/samples/
!/scripts/
!/dist.ini
!/Changes
!/TODO.txt
!/README.mkdn
!/LICENSE.md
!/HTML 5 - ITS 2.0 IMPLEMENTATION PROJECT: WORK IN CONTEXT SYSTEM (WICS).pdf

